/* POPUP MENU*/
.tbox {
	position:absolute;
	display:none;
	padding:14px 17px;
	z-index:900;
	text-align:left
}
.tinner {
	padding:15px; border-radius:5px;
	background:url(../../../images/avatarep/loader.gif) no-repeat 50% 50% #FFFFFF;
	border-right:1px solid #F0F0F0;
	border-bottom:1px solid #F0F0F0;
	opacity: 0.8;
}

.tmask {
	position:absolute;
	display:none;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#000000;
	z-index:800;
	opacity:0.8 !important;
}

.tclose {
	position:absolute;
	top:0px;
	right:0px;
	width:30px;
	height:30px;
	cursor:pointer;
	background:url(../../../images/avatarep/close.png) no-repeat;
}

.tclose:hover {
	background-position:0 -30px;
}

#error {
	background:#e09c09;
	color:#424242;
	text-shadow:1px 1px #cf5454;
	border-right:1px solid #000;
	border-bottom:1px solid #000; 
	padding:0;
}

#error .tcontent {
	padding:10px 14px 11px;
	border:1px solid #ffb8b8;
	border-radius:5px;
}

#success {
	background:#FFFFFF;
	color:#424242;
	text-shadow:1px 1px #1b6116;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	padding:10;
	border-radius:2px;
}

#bluemask {
	background:#4195aa;
}

#frameless {
	padding:0;
}

#frameless .tclose {
	left:6px;
}

#tvatar img {
    max-height: 135px;
    max-width: 135px;
    padding: 4px;
    border: 1px solid #0d4705;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#tvatar img:hover {
	border-color: #e09c09;
}

hr {
	background-color:#989898;
}

.trow_profile{
	vertical-align: top;
	padding-left: 9px;
	width:340px;
	color:#424242;
}

.trow_profile a{
	color: #051517;
}

.trow_profile a:hover{
	color: #e09c09;
}

.trow_uprofile{
	min-height:175px;
	line-height:1.2;
}

#trow_uname{
	font-size:15px;
}

#trow_memprofile{
	font-size:11px;
	font-weight:bold;
}

#trow_status{
	font-size: 11px;
}

.avatarep_img{
    padding: 3px;
	border: 1px solid #D8DFEA;
    width: 30px;
	height: 30px;
	border-radius: 3px;
	opacity: 0.9;
}

.avatarep_fs{
	margin-top: 13px;
	margin-left: 5px; 
	position: absolute; 
	font-size: 11px;
}

.avatarep_fd{
	float: left;
}